<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="${ url_for('static', filename='css/normalize.css') }" media="all" rel="stylesheet" type="text/css" />
    <link href="${ url_for('static', filename='css/styles.css') }"    media="all" rel="stylesheet" type="text/css" />

    <script src="${ url_for('static', filename='js/jquery.min.js') }"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <%block name="block_java_script">
    </%block>
</head>

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            <ul>
                <div class="options">
                     % for opt in options:
                         % if opt[0] == request.path[1:]:
                         <li id="selected">
                         % else:
                         <li>
                         % endif
                         <a href="${ url_for('page_to_display', chosen_template=opt[0]) }">
                             ${opt[1]}
                         </a>
                         </li>
                     % endfor
                </div>
            </ul>
        </div>
        <div id="content">
            <h2>
                <%block name="block_title"></%block>
            </h2>
            <p>
                <select id="user_id" style="display: none">
                    <option value="">--</option>
                </select>
                <br><img src="" id="avatar">
                <br><p id="no_data"><b>No data for selected user.</b></p>
                <div id="chart_div" style="display: none">
                </div>
                <div id="loading">
                    <img src="${url_for('static', filename='img/loading.gif')}" />
                </div>
            </p>
        </div>
    </div>
</body>
</html>
